*{ 
    margin: 0;  
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
container{
    background-color: rgb(0, 0, 0);
}
button:focus{
    border: 0;
}
.wrapper .navbar{
    width: 100%;
    height: 70px;
    margin: 0;
}
.wrapper .navbar .kiri img{
    position: fixed;
    height: 80px;
    width: 100px;
    margin-top: -10px;
}
.navbar .kanan{
    position: fixed;
    margin-top: 20px;
    margin-left: 1050px;
}
.wrapper .navbar .kanan button{
    position: relative;
    width: 100px;
    height: 30px;
    border-radius: 15px;
    border: 0;
    margin-right: auto;
    outline: 0;
    margin-left: 10px;
    cursor: pointer;
    font-size: medium;
    padding-bottom: 8px;
    padding-top: 2px;
    
}

.navbar .kanan .logoutbtn{
    color: rgb(255, 255, 255);
    background-color: rgb(155, 1, 1);
}
.navbar .kanan .homebtn{
    color: rgb(0, 0, 0);  
    background-color: rgb(255, 255, 255);
}
.navbar .icon{
    margin-right: 5px;
    height: 15px;
    width: 15px;
    margin-top: 5px;
    background-color: transparent;
}
.wrapper .home{
    position: relative;
    display: flex;
    justify-content: center;
    gap: 10px;
    justify-items: stretch;
}
.wrapper .home .kiri{
    margin-left: 20px;
    width: 1000px;
    max-width: 280px;
    height: 100%;
    max-height:100%;
}
.wrapper .home .tengah{ 
    width: 1000px;
    max-width: 680px;
    height: 100%;
    max-height:100%;
    
}
.wrapper .home .kanan{
    margin-right: 20px;
    width: 1000px;
    max-width: 280px;
    height: 100%;
    max-height:100%;
}
.home .profile, .home .h, .home .contentatas,
.home .contentbawah, .home .message{
    background-color: rgb(70, 70, 70); 
    border-radius: 8px;
}
.wrapper .home .profile{
    margin-bottom: 10px;
    width: auto;
    height: 550px;
}
.wrapper .home .h{
    width: auto;
    height: 350px;
}
.wrapper .home .contentatas{
    width: auto;
    height: 100px;
    margin-bottom: 10px;
}
.tengah .fotouser{
    border-style:solid;
    border-color: rgb(255, 255, 255);
    float: left;
    object-fit: cover;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    margin-left: 25px;
    margin-top: 10px;
}
.contentatas .inputtext{
    color: white;
    background-color: rgb(53, 56, 58);
    float: left;
    border: 0;
    margin-left: 10px;
    margin-top: 15px;
    width: 80%;
    max-width: 80%;
    height: 35%;
    border-radius: 15px;
    padding-left: 20px;
}
.contentatas .inputtext:focus{
    outline: 0;
}
.contentatas .Photobtn{
    border-radius: 14px;
    color: rgb(128, 128, 128);
    background-color: rgb(53, 56, 58);
    width: 12%;
    height: 30%;
    border: 1;
    border-color: white;
    font-size: 12px;
    margin-top: 10px;
    margin-left: 1.5%;
    padding-right: 3px;
    cursor: pointer;
}
.Photobtn .icon{
    background-color: transparent;
    margin-left: 13px;
    float: left;
}
.contentatas .Postingbtn{
    color: rgb(0, 0, 0);
    background-color: rgb(0, 127, 211);
    float: left;
    border: 0;
    margin-right: 5%;
    margin-top: 10px;
    width: 15%;
    max-width: 80%;
    height: 30%;
    border-radius: 15px;
    float: right;
    cursor: pointer;
}
.wrapper .home .contentbawah{
    background-color: transparent;
    width: auto;
    height:800px;
    max-height: 900px;
    margin-bottom: 10px;
    overflow: auto;
}
.wrapper .home .message{
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    width: 280px;
    height:700px;
}   
.home .message img{
    border-radius: 50%;
    border-style:solid;
    border-color: rgb(255, 255, 255);
    object-fit: cover;
    height: 70px;
    width: 70px;
    display: block;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}
.home .message .Tengah{
    background-color: transparent;
    display: block;
    text-align: center;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}
.message .bio{
    background-color: transparent;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: small;
    word-wrap: break-word;
}
.message .Tengah .garis{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    height: 2px;
    background-color: white;
}
.message .Tengah .Anggota, .Tengah b{
    font-size: small;
    background-color: transparent;
}
.message .pesan{
    background-color: transparent;
    width: 100%;
    height: 500px;
    max-height: 220px;
    word-wrap: break-word;
}
.message .Showmore{
    background-color: transparent;
    color: rgb(78, 150, 245);
    font-weight: bold;
    border: 0;
    font-size: x-small;
    margin-top: 170px;
    cursor: pointer;
    margin-bottom: 0;
}

.rekomendasiTeman{
    color: white;
    margin-left: 15px;
    padding-top: 10px;
}

.imgRekomendasiTeman{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-left: 15px;
    margin-top: 15px;
    border: 2px solid rgb(255, 255, 255);
}

.listRekomendasiTeman{
    display: flex;
}

.listRekomendasiTeman li{
    list-style: none;
}

.listRekomendasiTeman li ul{
    margin-top: 20px;
    margin-left: 20px;
    color: white;
}

.listRekomendasiTeman button{
    margin-top: 20px;
    margin-left: 20px;
    border-radius: 10%;
    width: 90px;
    height: 40px;
    cursor: pointer;
}