*{
    margin: 0;
    padding: 0;
}

.blur{
    height: 980px;
    width: 1900px;
    background-image: url(./assets/home.png);
    filter: blur(8px);
    -webkit-filter: blur(8px);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.wrapper{
    height: 400px;
    width: 700px;
    background-color: gray;
    transform: translate(-10%, -80%);
    border-radius: 5%;
    margin-left: 650px;
    padding-top: 2em;
}