.post{
    background-color: rgb(70, 70, 70); 
    border-radius: 8px;
    width: 99%;
    height:max-content;
    margin-bottom: 10px;
    margin-right: 5px;
}
.fotouserpost{
    border-style:solid;
    border-color: rgb(255, 255, 255);
    float: left;
    object-fit: cover;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    margin-left: 25px;
    margin-top: 10px;
}
.post .nama , .post .username ,.post .lamapost,.post .isi,
.post .like ,.post .likebtn,
.post .comment,.post .commentbtn,.post .textcomment{
    color: white;
    font-size: small;
}
.post .nama{
    font-weight: bold;
    float: left;
    font-size: medium;
    padding-top: 15px;
    margin-right:5px ;
    margin-left: 10px;
}
.post .morebtn{
    background-color: transparent;
    border: 0;
    height: 40px;
    width: 40px;
    color: white;
    float: right;
    cursor: pointer;
    margin-top: -5%;
    margin-right: 20px;
    cursor: pointer;
}
.post .username{
    font-size: x-small;
    padding-top:20px;
    margin-bottom: 6px;
} 
.post .lamapost{
    font-size: x-small;
    padding-left:87px ;
}
.isi{
    position:relative;
    padding-top: 25px;
    padding-left: 13%;
    padding-right: 13%;
    word-wrap: break-word;
}
.post .bawah{
    margin-top:20px ;
    margin-left: 88px;
    margin-right: 88px;
}
.post .bawah .icon{
    float: left;
    padding-right: 10px;
}
.post .like{
    align-content: center;
}
.post .komen {
    margin-top: -15px;
    padding-left: 80%;
}
.post .comment{
    margin-right: 9%;
    float: left;
}

.buttonbawah{   
    margin-top: 2%;
    margin-left: 88px;
    margin-right: 50px;
    margin-bottom: 20px;
}
.buttonbawah .icon{
    padding-top: 1px;
    justify-content: center;
    margin-right: 10px;
    padding-left: 20px;
    float: left;
    width: 15px;
    height: 15px;
}
.likebtn{
    border-radius: 10px;
    background-color: rgb(53, 56, 58);
    border: 0;
    justify-content: center;
    text-align: left;
    width: 90px;
    height: 25px;
    margin-top: 15px;
    margin-left: -7px;
    margin-right: 55%;
    cursor: pointer;
}
.commentbtn{
    border-radius: 10px;
    background-color: rgb(53, 56, 58);
    border: 0;
    justify-content: center;
    text-align: left;
    width: 120px;
    height: 25px;
    cursor: pointer;
}
.image{
    margin-bottom: 20px;
    margin-top: 10px;
}
.panetambahan {
    height: 10px;
}
.icons{
    color: white;
}
.iconlike{
    margin-top: -2px;
    margin-right: 6px;
    margin-left: 7px;
    border-radius: 50%;
    float: left;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 81, 255);
}