.foto img{
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 440px;
    height: 260px;
    max-width: 600px;
    border-radius: 10px;
    padding: 20px;
    object-fit: cover;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    animation: fadeIn 0.3s ease-in-out;
}
.Content{
    position: relative;
    display: block;
    overflow: auto;
    margin-left: auto;
    margin-right: auto;
    width: 88%;
    height: fit-content;
    max-height: 100px;
    max-width: 600px;
    border-radius: 10px;
    margin-top: 20px;
    padding: 15px;
    padding-left: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    animation: fadeIn 0.3s ease-in-out;
}
.texttengah{
    width: 100%;
    height: fit-content;
    overflow: auto;
}
.Text ,.Text:focus{
    padding-right: 5px;
    resize: none;
    background-color: transparent;
    width: 97%;
    border-style: none;
    outline: 0;
    word-wrap: break-word;
    color: aliceblue;
    max-height: 80vh;
}
